/* All styles for your header Components live here */

.Header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.innerHeader {
    display: flex;
    flex-flow: column wrap;
}

.headerTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

h3 {
    margin-left: 5px;
    margin-right: 5px;
    color: grey;
}

time {
    color: grey;
}

#logo {
    width: 20%;
    height: auto;
    margin: 5px;
}