/* All styles for your header Components live here */

.Header {
    display: flex;
    flex-direction: row;
}

.headerTitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 55%;
}

.headerContent {
    display: block;
    margin-left: 4%;
}

#logo {
    margin-right: 3%;
    height: 50px;
    width: 50px;
}